name: Playwright Tests

on:
  push:
    paths:
      - 'testscripts/*.ts'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0   # REQUIRED for git diff

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm ci

      - run: npx playwright install --with-deps

      - name: Get changed test file
        id: changed-test
        run: |
          FILE=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep testscripts/ | head -n 1)
          echo "FILE=$FILE" >> $GITHUB_OUTPUT
          echo "Running test file: $FILE"

      - name: Run Playwright test
        if: steps.changed-test.outputs.FILE != ''
        run: |
          npx playwright test ${{ steps.changed-test.outputs.FILE }}