name: Run Generated Playwright Test

on:
  push:
    branches:
      - master
    paths:
      - 'testscripts/*.spec.ts'

jobs:
  run-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: |
          npm install
          npx playwright install --with-deps

      - name: Run ONLY changed test file
        run: |
          FILE=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep testscripts/ | head -n 1)
          echo "Running test file: $FILE"
          npx playwright test $FILE

      - name: Upload Playwright Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/